/* MODIFICADO*/
/*
html, body {
    height: 100%;
}
*/
body {
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: #edf4fd;
}
body::after {
    #background-image: url("../assets/brinquedoFundo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    content: "";
    opacity: 0.08;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position:fixed;
    z-index: -1; 
}
.btn-light {
    color: #FFFFFF;
    background-color: #AAAAAA;
    border-color: #777777;
}
.btn-light:hover {
    color: #FFFFFF;
    background-color: #777777;
    border-color: #AAAAAA;
}
header, #actions {
    margin-top: 20px;
}
/* Chrome, Safari, Edge, Opera */
input:not(.number-field)::-webkit-outer-spin-button,
input:not(.number-field)::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number]:not(.number-field) {
    -moz-appearance: textfield;
}
#login-menu {
    width: 250px;
}
.navbar-nav li{
    margin-left:10px;
}
#user-img {
    border-radius: 100%;
    object-fit: cover;
    height: 2em;
    width: 2em;
}
#user-img:hover{
    opacity: 0.5;
}
li {
    margin: 0;
    padding: 0;
}
.nav-item {
    list-style: none;
    border-left: 2px solid #777777;
    padding: 0 10px;
}
.row {
    margin-bottom: 15px;
}